@charset "UTF-8";
/* reset */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a,
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
table,
th,
td,
form,
fieldset,
legend,
input,
textarea,
button,
select {
  margin: 0;
  padding: 0;
}

textarea {
  resize: none;
}

body,
input,
textarea,
select,
button {
  font-family: "NanumSquare", "나눔고딕", "Dotum", "돋움", "Helvetica", "Arial", "AppleSDGothicNeo", sans-serif;
  font-size: 14px;
}

fieldset,
img {
  border: 0;
}

img {
  vertical-align: top;
}

li,
ol,
ul {
  list-style: none;
}

address,
em,
i {
  font-style: normal;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
th,
b,
em {
  font-weight: normal;
}

/* 공통 */
.blind {
  position: absolute;
  clip: rect(0 0 0 0);
  /* left: -9999px; */
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.chinese {
  font-family: 'NanumBarunGothic', '나눔바른고딕', 'Dotum', '돋움', 'Helvetica', 'Arial', 'AppleSDGothicNeo', sans-serif;
}

.text_line {
  display: block;
  margin: 0;
  word-break: keep-all;
}

.hidden {
  overflow: hidden !important;
}

button {
  border: 0;
  background: none;
  -webkit-appearance: none;
}

button:hover {
  cursor: pointer;
}

input {
  border: 0;
  background: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
}

caption {
  text-indent: -9999px;
  font-size: 0;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  font-family: 'NanumSquare' !important;
  color: #333 !important;
}

input::-moz-placeholder {
  /* Firefox 19+ */
  font-family: 'NanumSquare' !important;
  color: #333 !important;
}

input:-moz-placeholder {
  /* Firefox 18- */
  font-family: 'NanumSquare' !important;
  color: #333 !important;
}

input:-ms-input-placeholder {
  /* IE 10+ */
  font-family: 'NanumSquare' !important;
  color: #333 !important;
}

textarea::-moz-placeholder {
  font-family: 'NanumSquare' !important;
  color: #333 !important;
}

textarea:-moz-placeholder {
  font-family: 'NanumSquare' !important;
  color: #333 !important;
}

textarea:-ms-input-placeholder {
  font-family: 'NanumSquare' !important;
  color: #333 !important;
}

input::-ms-clear {
  display: none;
}

body,
html {
  height: 100%;
  font-style: normal;
  line-height: 1.4;
  -webkit-text-size-adjust: none;
  background-color: #ccc;
}
/* 변수선언 */
body{
  --naver-color:#1ec545;
  --header-height:80px;
}
/* 레이아웃 */
header{
  /* background-color: #f8e; */
  position: relative;
  height:var(--header-height);
  background-color: rgba(255,255,255,0.7);
  }

.header_wrap{
display: flex;
justify-content: space-between;
align-items: center;
/* background-color: #ef8; */
margin: 0 auto;
max-width: 1600px;
}

/* 헤더 */
.header_logo{
  background:url(../img/header_logo.png) center  no-repeat;
  width: 87px;
  height: 17px;
  background-size:contain;
  background-color: #ccc;
}

.header_logo a{
  display: block;
  width: 100%;
  height: 100%;
}

/* 네비게이션 */
nav{
  /* background-color: #ccc; */
}
nav .gnb_menu{
  display: flex;
}
nav .gnb_menu_list{}
nav .gnb_menu_list a.gnb_menu_item{
  display: block;
  margin: 0 30px;
  height: var(--header-height);
  padding-top: 25px;
  font-size: 18px;
  color:#000;
  position:relative;
}
nav .gnb_menu_list a.gnb_menu_item:after{
content: '';
display: block;
position: absolute;
left:0px;bottom:20px;
width: calc(100% + 3px); /* 계산기 함수 */
height: 2px;
background-color:var(--naver-color);
transform: scale(0);
}
nav .gnb_menu_list:hover a.gnb_menu_item:after,.nav gnb_menu_list a.gnb_menu_item:focus:after{
 transform: scale(1);
 transition: transform 0.5s;
 transform-origin: 0 0;
}
/* 모든 서브메뉴 */
nav .gnb_menu_list .gnb_dropMenu_wrap{
  position: absolute;
  left:0px;top:var(--header-height);
  width:100%;
  background-color:var(--naver-color);
  display: flex;
  justify-content: center;
  display: none; /*테스트후 삭제*/
  z-index:10000;
}
/* 대메뉴 depth1 의 첫번째 메뉴 하나식 보이게
nav .gnb_menu_list:nth-of-type(5) .gnb_dropMenu_wrap{
  display: flex; /* 서브작업후삭제 
}*/

nav .gnb_menu_list:hover .gnb_dropMenu_wrap{
  display: flex;
}
.gnb_dropMenu_wrap > li{
  width: 190px;
  height: 340px;
  border-left:solid 1px #4bd16a;
  padding-top: 1.5rem; /*내려온 높이*/
  padding-left:1.5rem;
}
.gnb_dropMenu_wrap > li:last-child{
  border-right:solid 1px #4bd16a;
}
.gnb_dropMenu_wrap .gnb_dropMenu{
  /* background-color: #ccc; */
  
}
.gnb_dropMenu li{
  padding: 0.2rem 0;
}
.gnb_dropMenu li.depth-blank{
  margin-bottom: 1rem;

}
.gnb_dropMenu li .gnb_dropMenu_item{
  color:#fff;
}

/* 유틸 */
.header_util{
  
  display: flex;
 }
.header_util .header_lang{}

.header_lang a{
  font-size: 0.8rem;
  color:#000;
}
/* 속성특성자 :사용자정의속성 */
.header_lang a[aria-selected="false"]{opacity: 0.5;}

.header_lang a:first-child{
  position: relative;
  margin-right:20px;

}
.header_lang a:first-child:after{
content: '';
display: block;
position: absolute;
top:0;left: 36px;
width: 2px;
height: 100%;
background-color: #000;
}
.header_util .sitemap_box{
  width: 24px;
  height: 24px;
  margin-left: 2rem;
  }

.sitemap_box .btn_sitemap{
  width: 100%;
  height:100%;
  position: relative; /* 햄버거메뉴의 span의 기준요소가 되려고 */
  
}
.sitemap_box .btn_sitemap .btn_line{
  display: block;
  position: absolute;
  right:0;
  /*width: 100%;*/
  height: 2.5px;
  background-color: #000;
}
.sitemap_box .btn_sitemap span:nth-of-type(2){
  top:0px;width:calc(100% - 5px);
}
.sitemap_box .btn_sitemap span:nth-of-type(3){
  top:9px;width:calc(100% - 8px);
}
.sitemap_box .btn_sitemap span:nth-of-type(4){
  top:19px;width: 100%;
}
/* 슬라이더*/
.container{
  /* width: 800px; */
  width: 100%;
  margin: 0 auto;
}
/* 슬라이더가 될 부모에게 */
.main_slide{
  width: 100%;
}
.main_slide div{
  width: 100%;
}
.main_slide div img{
  width: 100%;
  height: auto;
}

/* 플러그인 bxslider 이미지로
.bx-wrapper .bx-controls-direction a{
  width: 46px;
  height: 46px;
}
.bx-wrapper .bx-prev{
  background:url(../img/sprite.png) -296px -99px no-repeat;
background-size: 474px 1500px;
}
.bx-wrapper .bx-prev:hover,
.bx-wrapper .bx-prev:focus{
  background-position:-296px -99px ;
}*/

/* 플러그인 bxslider 좌우버튼*/
.bx-wrapper{
  overflow: hidden;
}
.bx-wrapper .bx-prev{
  background-image: none;
  border-left:1px solid #fff;
  border-top:1px solid #fff;
  transform: rotate(-45deg); translate:(0,-50%);
  transform-origin:0 0;
  left:25px;
}
.bx-wrapper .bx-prev:hover,
.bx-wrapper .bx-prev:focus{
  background-image: none;
}

.bx-wrapper .bx-next{
  background-image: none;
  border-left:2px solid #fff;
  border-top:2px solid #fff;
  transform: rotate(135deg); translate:(0,50%);
  transform-origin:0 0;
  right:0px;
}
.bx-wrapper .bx-next:hover,
.bx-wrapper .bx-next:focus{
  background-image: none;
}
/* pagination pager변경 */
.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto{
bottom:30px;
}
.bx-wrapper .bx-pager.bx-default-pager a{
  width: 24px;
  height: 4px;
  border:0 none;
  border-radius: 0;
}

/* swiper */
.swiper{}
.swiper .swiper-wrapper{}
.swiper .swiper-wrapper .swiper-slide{}
.swiper-slide img{
  height: auto;
  width: 100%; /* 부모의 크기에 맞게 이미지 조정 */
  /* max-width: 100%; 원래 이미지크기 이상되지 마라 */
}
.swiper-button-next,.swiper-button-prev{
  color:var(--naver-color);
}