@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Noto+Sans+KR:wght@100;300;400;900&family=Raleway:wght@100;200;800;900&display=swap');
/* font-family: 'Nanum Gothic', sans-serif;*/

@charset "UTF-8";

/* reset */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a,
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
table,
th,
td,
form,
fieldset,
legend,
input,
textarea,
button,
select {
  margin: 0;
  padding: 0;
}

textarea {
  resize: none;
}

body,
input,
textarea,
select,
button {
  font-family: "Nanum Gothic", "NanumSquare", "나눔고딕", "Dotum", "돋움", "Helvetica", "Arial", "AppleSDGothicNeo", sans-serif;
  font-size: 14px;
}

fieldset,
img {
  border: 0;
}

img {
  vertical-align: top;
}

li,
ol,
ul {
  list-style: none;
}

address,
em,
i {
  font-style: normal;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
th,
b,
em {
  font-weight: normal;
}

/** 공통 **/
.blind {
  position: absolute;
  clip: rect(0 0 0 0);
  /* left: -9999px; */
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.chinese {
  font-family: 'NanumBarunGothic', '나눔바른고딕', 'Dotum', '돋움', 'Helvetica', 'Arial', 'AppleSDGothicNeo', sans-serif;
}

.text_line {
  display: block;
  margin: 0;
  word-break: keep-all;
}

.hidden {
  overflow: hidden !important;
}

button {
  border: 0;
  background: none;
  -webkit-appearance: none;
}

button:hover {
  cursor: pointer;
}

input {
  border: 0;
  background: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
}

caption {
  text-indent: -9999px;
  font-size: 0;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  font-family: 'NanumSquare' !important;
  color: #333 !important;
}

input::-moz-placeholder {
  /* Firefox 19+ */
  font-family: 'NanumSquare' !important;
  color: #333 !important;
}

input:-moz-placeholder {
  /* Firefox 18- */
  font-family: 'NanumSquare' !important;
  color: #333 !important;
}

input:-ms-input-placeholder {
  /* IE 10+ */
  font-family: 'NanumSquare' !important;
  color: #333 !important;
}

textarea::-moz-placeholder {
  font-family: 'NanumSquare' !important;
  color: #333 !important;
}

textarea:-moz-placeholder {
  font-family: 'NanumSquare' !important;
  color: #333 !important;
}

textarea:-ms-input-placeholder {
  font-family: 'NanumSquare' !important;
  color: #333 !important;
}

input::-ms-clear {
  display: none;
}

body,
html {
  height: 100%;
  font-style: normal;
  line-height: 1.4;
  -webkit-text-size-adjust: none;
}

/** 변수선언 **/
body {
  --naver-color: #1ec545;
  --header-height: 80px;
}

/** 레이아웃 **/
header {
  /* background-color: #f8e; */
  position: relative;
  height: var(--header-height);
  background-color: rgba(255, 255, 255, 0.7);
}

.main_content {}

footer {
  background-color: rgba(0, 0, 0, 0.3);
}

header .header_wrap,
footer .footer_wrap {
  max-width: 1600px;
  margin: 0 auto;
}

.header_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/** 헤더 **/
.header_logo {
  background: url(../img/header_logo.png) center no-repeat;
  width: 87px;
  height: 17px;
  background-size: contain;
  background-color: #ccc;
}

.header_logo a {
  display: block;
  width: 100%;
  height: 100%;
}

/* 네비게이션 */
nav {
  /* background-color: #ccc; */
}

nav .gnb_menu {
  display: flex;
}

nav .gnb_menu_list {}

nav .gnb_menu_list a.gnb_menu_item {
  display: block;
  margin: 0 30px;
  height: var(--header-height);
  padding-top: 25px;
  font-size: 18px;
  color: #000;
  position: relative;
}

nav .gnb_menu_list a.gnb_menu_item:after {
  content: '';
  display: block;
  position: absolute;
  left: 0px;
  bottom: 20px;
  width: calc(100% + 3px);
  /* 계산기 함수 */
  height: 2px;
  background-color: var(--naver-color);
  transform: scale(0);
}

nav .gnb_menu_list:hover a.gnb_menu_item:after,
.nav gnb_menu_list a.gnb_menu_item:focus:after {
  transform: scale(1);
  transition: transform 0.5s;
  transform-origin: 0 0;
}

/* 모든 서브메뉴 */
nav .gnb_menu_list .gnb_dropMenu_wrap {
  position: absolute;
  left: 0px;
  top: var(--header-height);
  width: 100%;
  background-color: var(--naver-color);
  display: flex;
  justify-content: center;
  display: none;
  /*테스트후 삭제*/
  z-index: 10000;
}

/* 대메뉴 depth1 의 첫번째 메뉴 하나식 보이게
nav .gnb_menu_list:nth-of-type(5) .gnb_dropMenu_wrap{
  display: flex; /* 서브작업후삭제 
}*/

nav .gnb_menu_list:hover .gnb_dropMenu_wrap {
  display: flex;
}

.gnb_dropMenu_wrap>li {
  width: 190px;
  height: 340px;
  border-left: solid 1px #4bd16a;
  padding-top: 1.5rem;
  /*내려온 높이*/
  padding-left: 1.5rem;
}

.gnb_dropMenu_wrap>li:last-child {
  border-right: solid 1px #4bd16a;
}

.gnb_dropMenu_wrap .gnb_dropMenu {
  /* background-color: #ccc; */

}

.gnb_dropMenu li {
  padding: 0.2rem 0;
}

.gnb_dropMenu li.depth-blank {
  margin-bottom: 1rem;

}

.gnb_dropMenu li .gnb_dropMenu_item {
  color: #fff;
}

/* 유틸 */
.header_util {

  display: flex;
}

.header_util .header_lang {}

.header_lang a {
  font-size: 0.8rem;
  color: #000;
}

/* 속성특성자 :사용자정의속성 */
.header_lang a[aria-selected="false"] {
  opacity: 0.5;
}

.header_lang a:first-child {
  position: relative;
  margin-right: 20px;

}

.header_lang a:first-child:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 36px;
  width: 2px;
  height: 100%;
  background-color: #000;
}

.header_util .sitemap_box {
  width: 24px;
  height: 24px;
  margin-left: 2rem;
}

.sitemap_box .btn_sitemap {
  width: 100%;
  height: 100%;
  position: relative;
  /* 햄버거메뉴의 span의 기준요소가 되려고 */

}

.sitemap_box .btn_sitemap .btn_line {
  display: block;
  position: absolute;
  right: 0;
  /*width: 100%;*/
  height: 2.5px;
  background-color: #000;
}

.sitemap_box .btn_sitemap span:nth-of-type(2) {
  top: 0px;
  width: calc(100% - 5px);
}

.sitemap_box .btn_sitemap span:nth-of-type(3) {
  top: 9px;
  width: calc(100% - 8px);
}

.sitemap_box .btn_sitemap span:nth-of-type(4) {
  top: 19px;
  width: 100%;
}

/** 슬라이더 **/
.container {
  /* width: 800px; */
  width: 100%;
  margin: 0 auto;
}

/* 슬라이더가 될 부모에게 */
.main_slide {
  width: 100%;
}

.main_slide div {
  width: 100%;
}

.main_slide div img {
  width: 100%;
  height: auto;
}

/** main_content **/
.main_content {
  padding: 120px 150px;
  max-width: 100%;
}

.main_content ul.content_summary {
  display: flex;
  box-sizing: border-box;
}

.content_summary .summary_container {
  position: relative;
  flex-basis: 25%;
  width: 25%;
  /* flex-grow: 0;
  flex-shrink: 1; */
  padding: 0 50px;
}

.content_summary .summary_container:first-child {
  padding-left: 0;
}

.content_summary .summary_container:after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 1px;
  height: 100%;
  background-color: #ccc;
}

.content_summary .summary_container:last-child::after {
  display: none;
}


.content_summary h3 {
  font-size: 14px;
  font-weight: 800;
  margin-bottom: 30px;
}

.content_summary .text_wrap {
  height: 76px;
}

.content_summary .text_wrap {
  height: 76px;
}

.content_summary .text_wrap .title_text {
  width: 100%;
  /* margin:30px 0; */
}

.content_summary .text_wrap .title_text strong {
  /* 1줄 말줄임표 */
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 700;
}

.content_summary .text_wrap .desc_text {
  /* 2줄이상 상태의 말줄임표 나오게 */
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  /*몇줄 보이게 할지 지정*/
  word-break: break-all;
  /*영단어가 있으면 줄바꿈해라)*/
  margin-top: 10px;
}

/*바로가기*/
.content_summary a.summery_link {
  color: #000;
  position: relative;
  padding-right: 30px;
}

.content_summary a.summery_link:hover {
  text-decoration: underline;
}

.content_summary a.summery_link .icon_arrow {
  width: 18px;
  height: 18px;
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  border-radius: 50%;
}

.content_summary a.summery_link .icon_arrow:after {
  content: '';
  position: absolute;
  /*화살이 얘의 부모가된다*/
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: url(../img/sprite.png) no-repeat;
  background-position: -102px -50px;
  width: 5px;
  height: 8px;
}

.content_summary a.summery_link:hover .icon_arrow:after {
  background-position: -108px -49px;
}

.content_summary a.summery_link:hover .icon_arrow {
  background-color: var(--naver-color);
}

.content_summary .career .title_text,
.content_summary .stock2 .title_text {
  font-size: 18px;
}

.content_summary .news {}

.content_summary .career.text_wrap {
  font-size: 18px;
}

.content_summary .stock2 .text_wrap {
  font-size: 18px;
}

.content_summary .stock1 .price {
  font-size: 35px;
  letter-spacing: -1.7px;
  font-weight: 800;
  border-bottom: 1px solid #000;

}

.content_summary .stock1 .price .unit {
  font-size: 12px;
}

.content_summary .stock1 .text_wrap {
  position: relative;
}

.content_summary .stock1 .figure {
  position: absolute;
  top: 24px;
  right: 0px;
}

.content_summary .stock1 .date {
  text-align: right;
  margin-top: 4px;
  font-size: 12px;
}

.content_summary .stock2 {}

/* content_service */
.content_service {
  margin-top: 150px;
}

.content_service .service_list_container {
  display: flex;
  flex-wrap: wrap;

}

/* 단의 크기는 플렉스아이템 */
.content_service li.service_thumbnail_box {
  /* flex:0 1 33.33%; */
  /* flex-basis: 33.33%; */
  /* 플레스 아이템의 후손 크기가 플렉스 아이템보다 클경우 생각해서 width(flex-deirection:row_로지정, height(flex-deirection:column_로지정 */
  width: 33.333%;
  box-sizing: border-box;
  overflow: hidden;
}

li.service_thumbnail_box a.thumbnail_dimmed {
  position: relative;
  color: #fff;
  width: 100%;
}

/** 가변이미지 **/
li.service_thumbnail_box .thumbnail {
  width: 100%;
  /* li.service_thumbnail_box마우스 아웃 상태일때 */
  transform: scale(1);
  transition: all 0.5s;
}

li.service_thumbnail_box .thumbnail img {
  /*max-width: 100%;원본보다 커지지마라*/
  width: 100%;
  /*이미지를 감싸고 있는 요소의 크기를 따라라*/
  height: auto;
  /*기본값이라 안써도 된다+이미지 너비에 맞게 높이는 자동(기존비율유지)*/
}

li.service_thumbnail_box:hover .thumbnail {
  transform: scale(1.2);
}

li.service_thumbnail_box .description {
  position: absolute;
  bottom: -300px;
  left: 0px;
  padding: 50px 30px 30px;
  width: 100%;
  /* 부모가아닌 기준요소의 너비*/
  /* background: no-repeat url(../img/main/play_circle.png) 30px 10px;*/
  /*background: no-repeat url(../img/sprite.png) 
   background-size: 30px 0px;*/
  transition: bottom 0.2s;
}

li.service_thumbnail_box:hover .description {
  bottom: 0px;
  z-index: 20;
}

li.service_thumbnail_box .description:after {
  content: '';
  display: block;
  width: 23px;
  height: 23px;
  background: no-repeat url(../img/sprite.png)-199px -129px;
  position: absolute;
  /* .description이 기준요소*/
  left: 30px;
  top: 0px;

}

li.service_thumbnail_box .description .title_text {
  font-size: 28px;
  margin-bottom: 10px;
}

li.service_thumbnail_box .description .desc_text {
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

li.service_thumbnail_box .thumbnail_dimmed:after {
  content: '';
  display: block;
  position: absolute;
  /*기준요소li.service_thumbnail_box*/
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(20, 20, 20, 0.5);
  opacity: 0;
  transition: 0.2s;
  z-index: 10;
}

li.service_thumbnail_box:hover .thumbnail_dimmed:after {
  opacity: 1;
}

/** content_support **/
.main_content .content_support {
  margin-top: 150px;
  text-align: center;
}

.content_support .support_title {
  position: relative;
  font-size: 32px;
  color: #333;
  margin-bottom: 20px;
}

.content_support .support_title:after {
  content: '';
  display: block;
  width: 5rem;
  height: 2px;
  position: absolute;
  left: 50%;
  bottom: -10px;
  background-color: var(--naver-color);
  /* x좌표의 가운데 */
  transform: translatex(-50%);
}

.content_support .support_text {
  font-size: 18px;
  line-height: 1.6;
  color: #000;
}

ul.support_list_container {
  margin-top: 120px;
  display: flex;
  justify-content: space-between;
}

li.support_list_box {
  /* flex:0 0 25%; */
  /* flex-basis: 25%; */
  width: 25%;
  box-sizing: border-box;
  position: relative;
}

.content_support li.support_list_box:after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 1px;
  height: 100%;
  background-color: #e5e5e5;
}

.content_support li.support_list_box:last-child:after {
  display: none;
}


li.support_list_box a {
  /* 백그라운드이미지용 */
  position: relative;
  padding: 135px 10px 0;
  display: block;
}

li.support_list_box a:nth-child(4) {
  border-right: none;
}


li.support_list_box a:after {
  content: '';
  position: absolute;
  left: 50%;
  top: 0;
  /* x좌표의 가운데 */
  transform: translatex(-50%);
  background: no-repeat;
  box-sizing: border-box;
  height: 100px;
  background-image: url(../img/sprite.png);
}

li.support_list_box:nth-child(1) a:after {
  background-position: 0 -957px;
  width: 87px;
}

li.support_list_box:nth-child(2) a:after {
  background-position: -92px -957px;
  width: 101px;
}

li.support_list_box:nth-child(3) a:after {
  background-position: -199px -957px;
  width: 110px;
}

li.support_list_box:nth-child(4) a:after {
  background-position: -316px -957px;
  width: 93px;
}

.support_list_box a .title_text {
  color: var(--naver-color);
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}

.support_list_box a:hover .title_text {
  text-decoration: underline;
}

.support_list_box dd.desc_text {
  color: #555;
  line-height: 1.6;
  font-size: 15px;
}

/** footer **/
footer{
  padding-top:100px;
  padding-bottom: 100px;
}
.footer_wrap {
  display: flex;
  position:relative;
}

.footer_wrap .flex_item {
 /* width: 25%;*/
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #000;
}

.footer_wrap .footer_logo {
  width: 63px;
  height: 13px;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-image: url(../img/footer_logo.png);
}

.footer_wrap ul.footer_menu {
  display: flex;
  padding: 0 10px; 
  justify-content: ; 
}
.footer_wrap ul.footer_menu li{
padding: 0 10px;
position: relative;
}

.footer_wrap .footer_menu li:after{
content: '';
position: absolute;
right:0;top:0;
width:1px;height:100%;
background-color: #e5e5e5 ;
}
.footer_wrap .footer_menu li:last-child:after{
  display:none ;
}

.footer_wrap .affiliate_box {
  order: 1;
  margin-left: auto;

}

.footer_wrap .btn_affiliate {}

.footer_wrap .affiliate_list {
 display: none;
}

.footer_wrap .affiliate_item {

}

.footer_wrap .footer_copy {
  position:absolute;
  left:50%;top:0;
  transform: translateX(-50%);
}





/* 플러그인 bxslider 이미지로
.bx-wrapper .bx-controls-direction a{
  width: 46px;
  height: 46px;
}
.bx-wrapper .bx-prev{
  background:url(../img/sprite.png) -296px -99px no-repeat;
background-size: 474px 1500px;
}
.bx-wrapper .bx-prev:hover,
.bx-wrapper .bx-prev:focus{
  background-position:-296px -99px ;
}*/

/* 플러그인 bxslider 좌우버튼*/
.bx-wrapper {
  overflow: hidden;
}

.bx-wrapper .bx-prev {
  background-image: none;
  border-left: 1px solid #fff;
  border-top: 1px solid #fff;
  transform: rotate(-45deg);
  translate: (0, -50%);
  transform-origin: 0 0;
  left: 25px;
}

.bx-wrapper .bx-prev:hover,
.bx-wrapper .bx-prev:focus {
  background-image: none;
}

.bx-wrapper .bx-next {
  background-image: none;
  border-left: 2px solid #fff;
  border-top: 2px solid #fff;
  transform: rotate(135deg);
  translate: (0, 50%);
  transform-origin: 0 0;
  right: 0px;
}

.bx-wrapper .bx-next:hover,
.bx-wrapper .bx-next:focus {
  background-image: none;
}

/* pagination pager변경 */
.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
  bottom: 30px;
}

.bx-wrapper .bx-pager.bx-default-pager a {
  width: 24px;
  height: 4px;
  border: 0 none;
  border-radius: 0;
}

/* swiper */
.swiper {}

.swiper .swiper-wrapper {}

.swiper .swiper-wrapper .swiper-slide {}

.swiper-slide img {
  height: auto;
  width: 100%;
  /* 부모의 크기에 맞게 이미지 조정 */
  /* max-width: 100%; 원래 이미지크기 이상되지 마라 */
}

.swiper-button-next,
.swiper-button-prev {
  color: var(--naver-color);
  opacity: 0.6;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: var(--naver-color);
  opacity: 1;
  transition: 0.2s;
}

.swiper-pagination-bullet {
  background-color: var(--naver-color);
  width: 40px;
  heigt: 10px;
  border-radius: 0;
}

.swiper-pagination-bullet:active {
  width: 40px;
}